@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

/* ✅ Offset for sections to account for fixed header */
#backoffice,
#projectmanagement,
#howtos {
  scroll-margin-top: 220px; /* adjust to your header height */
}

:root {
  --background: #504081; /* Light background */
  --foreground: #333; /* Dark text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #504081;
    --foreground: #333;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', sans-serif;
  cursor: none;
}

/* Override the cursor style for all links */
a {
  cursor: none !important;
}

.main-content {
  /* padding: 40px 20px; */
  text-align: center;
}

.main-content h2 {
  color: #222;
  margin-bottom: 20px;
}

.main-content p {
  color: #666;
  line-height: 1.6;
}

/* Styling for the specific text */
.text-hover-grow {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.text-hover-grow:hover {
  transform: scale(1.1);
}

/* Reusable hover color change effect */
.text-hover-yellow {
  transition: color 0.3s ease-in-out;
}

.text-hover-yellow:hover {
  color: #fef74b;
}

.btn-primary {
  padding: 12px 24px;
  background-color: #fef74b;
  color: #333;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #ccc61f;
  margin-right: 10px;
}

.btn-primary:hover {
  background-color: #504081;
  color: #fef74b;
}

.btn-secondary {
  padding: 12px 24px;
  background-color: #504081;
  color: #fef74b;
  font-weight: bold;
  border: 2px solid #fef74b;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: #fef74b;
  color: #333;
}