/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Main container */
.home-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
 
  gap: 30px; /* spacing between sections */
  padding-top: 300px; /* space for navbar height */
}

section {
  scroll-margin-top: 120px; /* offset for fixed navbar */
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .home-container {
    padding-top: 350px; /* smaller padding for mobile */
  }
}