.mainheader {
  background-color: #1c0e45; 
  display: flex;
  box-shadow: 0 2px 5px #4bfe5a;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}

.mainheader.shrink {
  padding: 10px 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.mainnav {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.mainnav-link {
  text-decoration: none;
  color: #efe1ff;
  font-weight: 500;
  transition: color 0.3s;
  position: relative;
  font-size: 14px;
}

.mainnav-link:hover {
  color: #fef74b;
  transform: scale(1.12);
}

.Home-button {
  padding: 3px 10px;
  background-color: #f3ef98;
  color: #504081;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Home-button:hover {
  background-color: #504081;
  color: #4bfe5a;
}

.newsletter-button {
  padding: 3px 10px;
  background-color: #504081;
  color: #4bfe5a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter-button:hover {
  background-color: #f3ef98;
  color: #504081;
}

.logo-link {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s;
}

.logo-link:hover {
  transform: scale(1.1); 
  filter: brightness(1.2);
}

.logo {
  width: 150px;
  height: auto;
  margin-left: 45px;
  transition: width 0.3s ease;
}

.mainheader.shrink .logo {
  width: 110px;
}

.logo2 {
  width: 100px;
  height: auto;
  margin-left: 150px;
  transition: width 0.3s ease;
}

.mainheader.shrink .logo2 {
  width: 130px;
}

@media (max-width: 768px) {
  .mainheader {
    flex-direction: column;
    align-items: center;
  }

  .mainnav {
    justify-content: center;
  }

  .logo {
    width: 120px;
    margin-left: 0px;
  }

  .logo2 {
    width: 140px; 
    margin-left: 15px;
  }
}